.aside {
    height: 100vw;
    background: #283046;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    padding: 30px 10px 0 10px;
    max-width: 9.8%;
    display: flex;
    flex-direction: column;


    // &__container {
    //     max-width: 110px;
    //     margin: 0 auto;
    // }
}