@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    &__text {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #BDBDBD;
        margin-top: 10px;
    }
}